
<div [ngClass]="{ 'column is-offset-4 is-4': true }">
    <div [ngClass]="{ 'tile is-child notification is-info': true }">
    <div class='title'>Se connecter</div>
    <div class='content'>
    <form *ngIf="!isLoggedIn"
            name="credentials"
            (ngSubmit)="f.form.valid && ngOnSubmit()"
            #f="ngForm"
            novalidate>

        <div class="field">
            <div class="control has-icons-left">
                <input type="text" 
                        name="username" 
                        placeholder="username" 
                        [ngClass]="{'input': true, 'is-danger': f.submitted && username.invalid}" 
                        [(ngModel)]="credentials.username" 
                        required
                        #username="ngModel" />
                <span class="icon is-small is-left">
                    <fa-icon [icon]="icons.faUser"></fa-icon>
                </span>
                <p class="help is-danger" *ngIf="f.submitted && username.invalid">Username is required!</p>
            </div>
        </div>


        <div class="field">
            <div class="control has-icons-left">
                <input type="password" 
                        name="password" 
                        placeholder="password" 
                        [ngClass]="{'input': true, 'is-danger': f.submitted && password.invalid}" 
                        [(ngModel)]="credentials.password" 
                        required 
                        minlength="6" 
                        #password="ngModel" />
                <span class="icon is-small is-left">
                    <fa-icon [icon]="icons.faLock"></fa-icon>
                </span>
            </div>
            <p class="help is-danger" *ngIf="f.submitted && password.errors && password.errors.required">Password is required</p>
            <p class="help is-danger" *ngIf="f.submitted && password.errors && password.errors.minlength">Password must be at least 6 characters</p>
        </div>

        <div class="field">
            <div class="control">
                <button class="button is-warning is-outlined is-small is-fullwidth">Connexion</button>
            </div>
        </div>

    </form>
</div>
</div>
</div>
