<nav>
  <div class="navbar-menu">
  <div>
    <a class="navbar-item" routerLink="/home">
      <img src="/assets/img/logo_dandelioon.png" width="112" height="112">
    </a>
  </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-dark" routerLink="/register">
            <strong>Prendre un rendez-vous</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
      data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Accueil Naturopathie
      </a>

      <a class="navbar-item">
        Consultations
      </a>

      <a class="navbar-item">
        A propos
      </a>

      <a class="navbar-item">
        Contact
      </a>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
