@mixin box-shadow($horizontalOffset, $verticalOffset, $blurRadius, $color, $spreadRadius: 0px) {
    -webkit-box-shadow: $horizontalOffset $verticalOffset $blurRadius $spreadRadius $color;
    -moz-box-shadow: $horizontalOffset $verticalOffset $blurRadius $spreadRadius $color;
    box-shadow: $horizontalOffset $verticalOffset $blurRadius $spreadRadius $color;
}